<div class="container mt-2">
  <div class="row">
    <div class="col-md-3">
      <div class="widget shadow p-3 mb-5 bg-white rounded">
        <h3 class="widget-title"><a   [routerLink]="['users']" [state]="{ state:groupId}">#Users</a></h3>
        <p class="widget-count" >{{groupMetaData.numOfUsers}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget shadow p-3 mb-5 bg-white rounded">
        <h3 class="widget-title"><a  [routerLink]="['joinRequests']">#Request</a></h3>
        <p class="widget-count" >{{groupMetaData.numOfJoinRequests}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget shadow p-3 mb-5 bg-white rounded">
        <h3 class="widget-title"><a  [routerLink]="['reports']">Reports</a></h3>
        <p class="widget-count">{{groupMetaData.numOfReports}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget shadow p-3 mb-5 bg-white rounded">
        <h3 class="widget-title"><a  [routerLink]="['info']">Edit Group Info</a></h3>
        <p class="widget-count">400</p>
      </div>
    </div>
  </div>
  <!--Tables Info-->
  <router-outlet></router-outlet><!--Group Info-->
</div>
